<h1>categories</h1>


<ul>
	<li>
		<div class="categories">
			<h1><a href="#">Emotions</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	</li>	
		<div class="categories">
			<h1><a href="#">Laughing</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	<li>
		<div class="categories">
			<h1><a href="#">Smiling</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	<li>
		<div class="categories">
			<h1><a href="#">Dancing</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	<li>
		<div class="categories">
			<h1><a href="#">Slapping</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>	
	</li>		
	<li>
		<div class="categories">
			<h1><a href="#">Fainting</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	<li>
		<div class="categories">
			<h1><a href="#">Rage</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	<li>
		<div class="categories">
			<h1><a href="#">Reactions</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>
	</li>
	<li>
		<div class="categories">
			<h1><a href="#">Fainting</a></h1>
		  <div class="cat-gif"></div>
			<div class="cat-gif"></div>
		</div>	
	</li>		
</ul>






