<!-- The Home Page can show a sample (random) of maybe 9 gifs 3x3x3 -->


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a></li>
    <li role="presentation"><a href="#newest" aria-controls="newest" role="tab" data-toggle="tab">Newest</a></li>
    <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<div class="container">
				<div class="random-row">
					<div class="home-img one"></div>
					<div class="home-img two"></div>
					<div class="home-img three"></div>
				</div>
				<div class="random-row">
					<div class="home-img four"></div>
					<div class="home-img five"></div>
					<div class="home-img six"></div>
				</div>
				<div class="random-row">
					<div class="home-img seven"></div>
					<div class="home-img eight"></div>
					<div class="home-img nine"></div>
				</div>
			</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="categories">
    	 <div class="container">
				<div class="random-row">
					<div class="home-img one"></div>
					<div class="home-img two"></div>
					<div class="home-img three"></div>
				</div>
				<div class="random-row">
					<div class="home-img four"></div>
					<div class="home-img five"></div>
					<div class="home-img six"></div>
				</div>
				<div class="random-row">
					<div class="home-img seven"></div>
					<div class="home-img eight"></div>
					<div class="home-img nine"></div>
				</div>
			</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="newest">
    	<div class="container">
				<div class="random-row">
					<div class="home-img one"></div>
					<div class="home-img two"></div>
					<div class="home-img three"></div>
				</div>
				<div class="random-row">
					<div class="home-img four"></div>
					<div class="home-img five"></div>
					<div class="home-img six"></div>
				</div>
				<div class="random-row">
					<div class="home-img seven"></div>
					<div class="home-img eight"></div>
					<div class="home-img nine"></div>
				</div>
			</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="popular">
    	<div class="container">
				<div class="random-row">
					<div class="home-img one"></div>
					<div class="home-img two"></div>
					<div class="home-img three"></div>
				</div>
				<div class="random-row">
					<div class="home-img four"></div>
					<div class="home-img five"></div>
					<div class="home-img six"></div>
				</div>
				<div class="random-row">
					<div class="home-img seven"></div>
					<div class="home-img eight"></div>
					<div class="home-img nine"></div>
				</div>
			</div>
    </div>
  </div>
</div>


